<div class="grid-container">
    <div class="standard-widget-container widget1 narrow-widget">
        <app-widget-box [widgetHeaderTitle]="'Performance Comparison'"></app-widget-box>
    </div>
    <div class="standard-widget-container widget2">
        <app-widget-box [widgetHeaderTitle]="'Journey Comparison'"></app-widget-box>
    </div>
    <div class="standard-widget-container widget3 narrow-widget">
        <app-widget-box [widgetHeaderTitle]="'Campaign Comparison'"></app-widget-box>
    </div>
    <div class="tall-widget-container widget4">
        <app-widget-box [widgetHeaderTitle]="'Media Comparison'"></app-widget-box>
    </div>
    <div class="tall-widget-container widget5">
        <app-widget-box [widgetHeaderTitle]="'Revenue Comparison'"></app-widget-box>
    </div>
</div>