@for (aisle of aisles; track aisle) {
  <div class="main-container container">
    <h3>Aisle no. {{aisle.number}}</h3>
    @for (category of aisle.categories; track category) {
      <div>
        @for (product of category.products; track product) {
          <div>
            <input type="checkbox" [id]=product.name>
            <label [for]=product.name>{{product.name}}</label>
          </div>
        }
      </div>
    }
    <app-custom-select [values]="['bacon','cheese']"></app-custom-select>
  </div>
}