<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            Pantry list items
            <div class="search-box-container">
                <app-search mode="Pantry"></app-search>
            </div>
            <app-search-results mode="Pantry"></app-search-results>
        </div>
        <div class="col-4">
            Recipe list items
            <div class="search-box-container">
                <app-search mode="Recipe"></app-search>
            </div>
            <app-search-results mode="Recipe"></app-search-results>
        </div>
        <div class="col-4">
            <app-shopping-list-in-progress></app-shopping-list-in-progress>
        </div>
    </div>
</div>