.main-container{
    background-color: transparent;
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.results-container{
    position: absolute;
    background-color: white;
    width: fit-content;
    padding: 5px;
    width: 110px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: black;

    .results-item{
        padding:5px;
    }

    .results-item:hover{
        background-color: grey;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }